<div>
    <h1>Tela de Consulta</h1>
    <a href="/cadastrar"  class="add"><i class="material-icons" title="Add">add_circle</i></a>
    <div class="table-responsive-sm">
        <table  class="table table-responsive table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{endereco}}</td>
                        <td>{{bairro}}</td>
                        <td>{{cep}}</td>
                        <td>{{cidade}}</td>
                        <td>{{estado}}</td>
                        <td>
                            <a href="/atualizar/{{id}}" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
                            <a href="/deletar/{{id}}" class="delete"><i class="material-icons" title="Delete"><i class="material-icons">cancel</i></i></a>
                        </td>
                    </tr>
                {{else}}
                    <h4 class="mt-2">Nenhum cadastro encontrado!</h4>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
